# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# 
*JavaPrctice/*   @derevyankin13@gmail.com

# You can also use email addresses if you prefer.
docs/*  docs@example.com
